<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/mvc
	http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-4.0.xsd">


    <!-- 文件上传与下载 -->
    <bean id="multipartResolver"
          class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="utf-8" />
        <property name="maxUploadSize" value="10485760000" />
        <property name="maxInMemorySize" value="40960" />
    </bean>

    <context:annotation-config/>
    <context:component-scan base-package="com.Newcity.controller" />

    <!-- 注解开启JSON形式输出 -->
    <mvc:annotation-driven>
        <mvc:message-converters register-defaults="true">
            <bean class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">
                <property name="supportedMediaTypes">
                    <list>
                        <value>application/json;charset=UTF-8</value>
                        <value>text/html;charset=UTF-8</value>
                    </list>
                </property>
                <!--<property name="features">
                    <list>
                        &lt;!&ndash; 输出key时是否使用双引号 &ndash;&gt;
                        <value>QuoteFieldNames</value>
                        <value>WriteMapNullValue</value>
                        &lt;!&ndash; 数值字段如果为null,输出为0,而非null &ndash;&gt;
                        <value>WriteNullNumberAsZero</value>
                        &lt;!&ndash; List字段如果为null,输出为[],而非null &ndash;&gt;
                        <value>WriteNullListAsEmpty</value>
                        &lt;!&ndash; 字符类型字段如果为null,输出为"",而非null &ndash;&gt;
                        <value>WriteNullStringAsEmpty</value>
                        &lt;!&ndash; Boolean字段如果为null,输出为false,而非null &ndash;&gt;
                        <value>WriteNullBooleanAsFalse</value>
                        &lt;!&ndash; Date的日期转换器 &ndash;&gt;
                        <value>WriteDateUseDateFormat</value>
                    </list>
                </property>-->
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>

    <mvc:default-servlet-handler />
    <!-- 静态资源映射 -->
    <!--
    <mvc:resources mapping="/resources/**" location="/images/"/>
    <mvc:resources mapping="/resources/**" location="/js/"/>
    -->
    <!--
   <bean id="exceptionResolver" class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
        默认的异常处理
        <property name="defaultErrorView" value="/commons/error" />
        定义需要特殊处理的异常，用类名或完全路径名作为key，异常也页名作为值
        <property name="exceptionMappings">
           <props>
           </props>
        </property>
   </bean>
   -->
</beans>
